/* app.css */
/* busy indicator http://jsfiddle.net/dBR2r/8/ */
#loading {
	position: absolute;
	left: 50%;
	top: 4px;
	z-index: 2000;
}
.runtime{
	width:8em;
	
	background-color:#FFFF99;
	margin:2px;
	display:inline-block;

}
.table-responsive{
    overflow-x: auto;
}
.logmsg{
	padding-right:8px;
}